/* layout */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;

    position: relative;
}

.pointingRight {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* style */

body {
    background-color: #342609;
}

.pic img {
    border-radius: 20px;
    border: 2px solid #D4DAF7;
}

div * {
    font-size: 28px;
}

h1 {
    font-size: 54px;
}

.nav {
    border-radius: 20px;
    border: 2px solid #D4DAF7;

    color: #342609;
    background: #FBA90A;

    width: 400px;
    height: 400px;

    text-align: center;
}

a:link, a:visited, a:active, a:hover {
    color: #183BF0;
    text-decoration: none;
    font-weight: bolder;
}
