* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    scroll-snap-align: start;

    margin-bottom: 10px;
}

@media (orientation: landscape) {
    .row {
        flex-direction: row;
        align-items: flex-start;
    }

    .pic {
        height: 100vh;
    }

    .pic img {
        height: 100%;
    }

    .label {
        margin-left: 10px;
    }
}

@media (orientation: portrait) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .pic {
        width: 96vw;
    }

    .pic img {
        width: 100%;
    }

    .label {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}


/* div {
    border: 1px solid red;
} */